<div class="">
  <h1>Parts</h1>
  <table class="list">
    <tr>
      <th>Part #</th>
      <th>Name</th>
      <th>Stock</th>
    </tr>
    <% @parts.each do |part| %>
      <tr>
        <td> <%= part.id %></td>
        <td> <%= link_to part.name, part_path(part) %> </td>
        <td><%= PartsWarehouse.where(part: part).count %></td>
      </tr>
    <% end %>
  </table>
</div>
