<div class="">
  <h1>Orders</h1>
  <table class="list">
    <tr>
      <th>Order #</th>
      <th>Date Created</th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, order_path(order)%></td>
        <td><%= order.houston_time("updated") %></td>
        <%= render partial: "status", locals: {order: order} %>
      </tr>
    <% end %>
  </table>
</div>
