<div class="order-conditional-show">
  <% if !@order.submitted %>
    <%= render partial: "unsubmitted", locals: {order: @order} %>
  <% elsif @order.submitted && !@order.processed %>
    <%= render partial: "unprocessed", locals: {order: @order} %>
  <% elsif @order.submitted && @order.processed %>
    <%= render partial: "processed", locals: {order: @order} %>
  <% end %>
</div>
<%= render partial: "order_details", locals: { order: @order } %>
