/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .banner {
   display: inline-block;
   width: 70%;
   margin-top: 20px;
   margin-bottom: -13px;
 }

 .logo {
   display: inline-block;
   width: 11%;
 }


 .banner-stripe {
   margin: 15px;
   height: 13px;
   border-radius: 25px;
 }

 .brandname{
   font-family: 'Kanit', medium, italic;
   font-size: 70px;
   font-style: italic;
   color: #FF00FF;
   display: inline-block;
   /*width: 18%;*/
   padding-bottom: 20px;
 }

div#banner-top {
  width: 75%;
  border: solid, lime;
  background-color: lime;
}

div#banner-mid {
  width: 85%;
  border: solid, teal;
  background-color: teal;
}

div#banner-bot {
  width: 95%;
  border: solid, #FF00FF;
  background-color: #FF00FF;
}


html {
  box-sizing: border-box;
}

body {
  position: absolute;
  width: 100%;
  max-width: 1000px;
  font-family: 'Kanit', medium;
}

nav {
  display: inline-block;
  /*border: 1px solid red;*/
  position: relative;
  left: 0;
  padding-right: 0;
  padding-left: 0;
  margin-top: 1rem;
  margin-left: 0;
  width: 15%;
  min-width: 111px;
  border-right: solid 1px #FF00FF;
  text-align: right;
}

ul {
  list-style-type: none;
  padding-left: 0.3rem;
}

.nav li {
  padding: 1rem;
}

.yield {
  margin-top: 1rem;
  width: 80%;
  float: right;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  width: 80%;
  /*border: 1px solid black;*/
  margin: 0 auto;
  text-align: center;
}


.list th{
  border-bottom: solid 1px #FF00FF;
  padding: 5px;
}

.list tr:hover {background-color: #FFF4FF;}
.list tr:hover:nth-child(-n+1) {background-color: white;}

.list td {
  padding: 5px;
  border-bottom: solid 1px lime;
  text-align: left;
}

.form-div{
  width: 300px;
  margin: auto;
}

.field_with_errors { display: inline; }

#error_explanation{
  color: red;
}

td.order-status {
  border-radius: 15px;
  border: 1px solid black;
  font-size: 80%;
  text-align: center;
}


td.unsubmitted{
  border-color: black;
  color: black;
}
td.unsubmitted a {
  color: black;
  text-decoration: none;
}

td.process{
  border-color: #FF00FF;
}


td.process a {
  color: #FF00FF;
  text-decoration: none;
}

td.processed{
  border-color: lime;
}

td.processed a {
  color: lime;
  text-decoration: none;
}
