/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .banner-stripe {
   padding: 10px;
   margin: 10px;
   height: 10px;
 }

div#banner-top {
  width: 50%;
  border: solid, lime;
  background-color: lime;
}

div#banner-mid {
  width: 62.5%;
  border: solid, teal;
  background-color: teal;
}

div#banner-bot {
  width: 75%;
  border: solid, #FF00FF;
  background-color: #FF00FF;

html {
  box-sizing: border-box;
}

body {
  position: absolute;
  width: 100%;
}

nav {
  display: inline-block;
  /*border: 1px solid red;*/
  position: relative;
  left: 0;
  padding-right: 0;
  padding-left: 0;
  margin-top: 1rem;
  margin-left: 0;
  width: 15%;
  min-width: 111px;
}

ul {
  list-style-type: none;
  padding-left: 0.3rem;
}

.nav li {
  padding: 1rem;
}

.yield {
  margin-top: 1rem;
  width: 80%;
  float: right;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  width: 80%;
  /*border: 1px solid black;*/
  margin: 0 auto;
  text-align: center;
}
