// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list td.surplus {
  border-bottom: none;
}

.list td.deficit {
  border-bottom: none;
}

.surplus {
  color: #00e600;
  font-size: 0.8rem;
  border-bottom: none;
}

.deficit {
  color: #e600e6;
  font-size: 0.8rem;
  border-bottom: none;
}
