<!DOCTYPE html>
<html>
  <head>
    <title>Rrl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Warehouses</a></li>
        <li><a href="#">Parts</a></li>
        <li><a href="#">New Order</a></li>
        <li><a href="#">Order</a></li>
        <li><a href="#">New Part</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
